body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #7b1fa2;
}
.wrapper {
  width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadded;
  border-radius: 10px;
}
h1 {
  color: rgd(135, 135, 135);
  font-size: 20px;
  font-weight: 200px;
  line-height: 28px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  color: rgd(135, 135, 135);
  font-size: 17px;
  font-weight: 200px;
  line-height: 28px;
  margin: 0 auto;
  padding: 0;
}
::first-letter {
  text-transform: capitalize;
}
.overview {
  margin-bottom: 20px;
}
.weather-temp img {
  margin-right: 6px;
  float: left;
  height: 64px;
  width: 64px;
}
.weather-temp strong {
  color: blue;
  line-height: 1;
  font-size: 40px;
}
.weather-temp .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temp active {
  color: black;
}
.weather-temp :hover {
  text-decoration: none;
}
.weather-forcast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}
.weather-forcast-date {
  font-size: 16px;
  opacity: 0.4;
}

.weather-forcast-temperature-min {
  opacity: 0.3;
}
.weather-forcast-temperature {
  font-size: 13;
}
.footer {
  text-align: center;
  list-style: none;
  color: #818a91;
}
